.header {
    padding: 18px;
    text-align: center;
    background: #f87f6a;
    color: white;
    font-size: 15px;

}
body{
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input[type=submit] {
    width: 100%;
    background-color: #f87f6a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(252, 130, 130);
  }
  input[type=text],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }